#main-heading1 {
    background: rgb(62, 187, 148);
    color: white;
    text-align: center;
    padding: 20px;
    font-family: "Oswald";
    font-size: 40px;
    line-height: 80px;
}
#aboutproject {
    font-family: Helvetica;
    color: rgb(39, 46, 46);
    p {
        font-family: Helvetica;
        color: rgb(39, 46, 46);
    }
}
#learn-disability {
    font-family: Helvetica;
    color: rgb(39, 46, 46);
}
#contribute-methods {
    font-family: Helvetica;
    color: rgb(39, 46, 46);
}
#institutions {
    font-family: Helvetica;
    color: rgb(39, 46, 46);
}